@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie</th>
            <th scope="col">Actor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Back to the Future</td>
            <td>Michael J. Fox</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>No Hard Feelings</td>
            <td>Jennifer Lawrence</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Moneyball</td>
            <td>Brad Pitt</td>
        </tr>
    </tbody>
</table>