@model IEnumerable<FindAMovie.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th width="200">Name</th>
                <th width="200">Discount Rate</th>
                <th width="200">Is Subscribed?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td width="200">@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td width="200">@customer.MembershipType.Name</td>
                    <td width="200">@(customer.IsSubscribedToNewsletter ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}
